<h4>Dishes</h4>

<div *ngIf="isFetching" class="spinner-border">
  <span class="sr-only">Loading...</span>
</div>
<ng-container *ngIf="!isFetching">
  <app-dish-item
    *ngFor="let dish of dishes"
    [dish]="dish"
  ></app-dish-item>
</ng-container>
